<h2><%= @work.title %></h2>

<section>
  <p>
    Created by: <%= @work.creator %>
  </p>
  <p>
    Published: <%= @work.publication_year %>
  </p>
  <p>
    As a user, I want to be able to downvote items, so they more accurately reflect my feelings about them.
  </p>
</section>

<section>
  this section will have buttons
</section>



<section>
  <h3># votes for this <%= @work.category %></h3>
  section will display table of votes
</section>
