<h3>User Summary: <%= link_to "#{@user.name}", user_path(@user.id), method: :get %></h3>
<p>
  Joined site <%= @user.created_at.strftime('%b %d, %Y')%>
</p>
<h4>Votes</h4>
<p>
  TODO: TABLE WITH VOTES
</p>
