/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require normalize-rails

*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

.page-header {
    max-width: 100%;
    background-color: #B2DFDB;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 25px 20px 10px 20px;
}

.row {
  margin-right: auto;
  margin-left: auto;
}


body *{
  font-family: 'Gudea', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.page-header h2 small {
    color: white;
    font-size: 32px;
}

.page-header h2 a {
    color: #FF5722;
    padding-right: 25px;
    margin-right: 15px;
    border-right: white 2px solid;
    font-size: 40px;
    text-decoration-style: solid;
}

.page-header h2 {
    text-align: center;
    margin: 25px auto 40px auto;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.4;

}

a {
  text-decoration: none;
}

.button {
  background-color: #26A69A;
}



.status {
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 20px 25px;
    margin-top: 30px;
}

.status.success h3 {
    color: #8a8a8a;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a, h3 {
    color: #26A69A;
}

section {
  display: block;
}


thead th, thead td, tfoot th, tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
}

.status {
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 20px 25px;
    margin-top: 30px;
}

.status.success h3 {
    font-weight: normal;
    font-size: 1em;
}
